* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.hero {
    background-image: url('../../img/hero/pic1.avif');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.container {
    position: relative;
    z-index: 1;
    padding: 0 10px;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #00aaff;
}

.subtitle {
    margin: 20px 0;
    font-size: 18px;
    color: #fff;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    padding: 15px 30px;
    background-color: #00aaff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0088cc;
}

/* Стили для всплывающего окна */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    margin: 5% auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
    position: relative;
    box-shadow: 8px 8px 18px gray;
}

.modal-content h2 {
    margin-bottom: 20px;
    color: #0088cc;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.modal-content button {
    padding: 10px 20px;
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.modal-content button:hover {
    background-color: #0088cc;

}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

#forgot-password-link {
    font-size: 14px;
    color: #0088cc;
    text-align: center;
    margin-top: 20px;

}

/* Адаптивные стили */

/* Для экранов шириной до 1024px */
@media (max-width: 1024px) {

    .btn {
        font-size: 16px;
        padding: 12px 24px;
    }
}

/* Для экранов шириной до 768px */
@media (max-width: 768px) {
    .hero {
        height: 90vh;
    }

    .btn {
        font-size: 14px;
        padding: 10px 20px;
    }

    .modal-content {
        width: 80%;
        margin: 15% auto;
    }
}

/* Для экранов шириной до 480px */
@media (max-width: 480px) {
    .hero {
        height: 80vh;
    }
    .btn {
        font-size: 12px;
        padding: 8px 16px;
    }

    .modal-content{
        width: 90%;
        padding: 20px;
    }

}